@charset "utf-8";
/* webfont */

div,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form,
input,
textarea,
img,
video,body,html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 17px;
    /* 1rem */
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    line-height: 1.2em;
    color: #333;
}

#wrap {
    min-width: 1400px;
}

#header {
    width: 1320px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header ul {
    display: flex;
}

#header .gnb ul li {
    margin-right: 60px;
}

#header ul li a {
    display: block;
    font-weight: bold;
}

.gnb {
    display: flex;
    height: 40px;
    align-items: center;
}

.gnb ul li:hover{
    font-weight: bold;
    color: #be1622;
}

.search_bar {
    width: 200px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #333;
    padding: 10px 0 10px 20px;
    position: relative;
}

.search_bar img {
    position: absolute;
    top: 9px;
    right: 18px;
    cursor: pointer;
}

.search_bar input {
    border: none;
    background-color: transparent;
    display: block;
    width: 100%;
    font-size: 15px;
    outline: none;
    color: #be1622;
}

.search_bar input::placeholder {
    color: #be1622;
    opacity: 0.5;
}


#top {
    position: absolute;
    top: 10px;
    right: 0;
}

#top ul li {
    margin-right: 20px;
}

#top ul li a {
    font-size: 12px;
}

#banner_1 {
    height: 500px;
    overflow: hidden;
    background: url(../img/brand/banner_1.jpg) no-repeat center;
    background-size: 1920px;
}

#banner_1 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#banner_1 ul li{
    color: #fff;
    text-shadow: 3px 3px 6px #333;
}

.line{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.line span{
    display: block;
    width: 44px;
    height: 3px;
    background-color: #fff;
}

#banner_2 {
    overflow: hidden;
}
#banner_2 .inner_banner_2{
    width: 1320px;
    height: 720px;
    margin: 180px auto 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#banner_2 .b2_textwrap{
    padding-top: 50px;
    width: 660px;
}

#banner_2 .b2_imgwrap{
    width: 630px;
    height: 930px;
    position: relative;
}
.b2_imgwrap img{
    position: absolute;
    top: 0;
    left: 0;
}

#banner_2 .b2_textwrap p{
    margin-top: 20px;
    line-height: 1.5em;
}

#banner_2 .b2_textwrap p:nth-child(1){
    font-size: 22px;
    color: #be1622;
    font-weight: 700;
}

#banner_2 .b2_title {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.2em;
    color: #be1622;
    position: absolute;
    bottom: 0;
    left: 0;
}

#banner_3{
    background-color: #be1622;
    height: 600px;
    margin-top: 180px;
}

#banner_3 .inner_banner_3{
    width: 1320px;
    height: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#banner_3 .inner_banner_3 h2{
    font-size: 40px;
    color: #fff;
}

#banner_3 .img_wrap{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#banner_3 .img_wrap li{
    overflow: hidden;
}

#banner_3> .inner_banner_3 > div > .img_wrap > li{
    width: 49.7%;
    position: relative;
}

#banner_3 .img_wrap li img{
    width: 100%;
    display: block;
    /* transform: scale(1); */
    transition: transform 0.5s;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#banner_3 .inner_banner_3 ul li:hover .cover{
    opacity: 1;
}

#banner_4 {
    width: 1320px;
    height: 490px;
    margin: 180px auto 0;
}

#banner_4 .b4_title{
    width: 1320px;
    margin: 0 auto 150px;
    text-align: center;
}

#banner_4 h2{
    color: #be1622;
    font-size: 40px;
}

#banner_4 .b4_title p{
    /* padding-left: 10px; */
    color: #c9c9ca;
    font-weight: 500;
}

#banner_4 .inner_banner_4{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#banner_4 .greybox {
    background: url(../img/brand/banner_4_background.jpg) no-repeat;
    width: 580px;
    height: 440px;
}

#banner_4 .b4_img {
    position: absolute;
    top: 30px;
    right: 30px;
}

#banner_4 .b4_textwrap {
    margin-top: 80px;
    line-height: 1.5rem;
}

#banner_4 .b4_text{
    padding: 30px 0 20px;
}

#banner_5 {
    width: 1320px;
    height: 860px;
    margin: 300px auto 0;
    position: relative;
    display: flex;
}

#banner_5 .b5_imgwrap {
    position: relative;
    width: 660px;
}

#banner_5 .greybox {
    background: url(../img/brand/banner_5_background.jpg) no-repeat;
    width: 610px;
    height: 797px;
    margin-top: 30px;
}

#banner_5 .b5_img {
    position: absolute;
    top: -30px;
    left: 30px;
}

.over {
    overflow: hidden;
}

#banner_5 .b5_textwrap {
    margin-left: 110px;
    margin-top: 120px;
    line-height: 1.5rem;
}

#banner_5 .b5_textwrap p:nth-child(1) {
    margin-top: 30px;
}
#banner_5 .b5_textwrap .b5_text {
    margin: 20px 0;
}

#banner_6 {
    margin-top: 150px;
    height: 460px;
    background: url(../img/brand/banner_6.jpg) no-repeat center;
    background-size: 1920px;
}

#banner_6 .inner_banner6{
    margin: 0 auto;
    width: 1320px;
    position: relative;
}

#banner_6 .inner_banner6 ul{
    display: flex;
    height: 460px;
    flex-direction: column;
    justify-content: center;

}
#banner_6 .inner_banner6 ul li{
    line-height: 1.5em;
}

#banner_6 .inner_banner6 ul li:nth-child(2){
    margin: 30px 0 10px;
}

#banner_6 .inner_banner6 img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

#footer{
    /* margin-top: 180px; */
    background-color: #444444;
    align-items: center;
}

#footer .inner_footer{
    width: 1320px;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 13px;
    align-items: center;
}

#footer .inner_footer ul .grey_color{
    color: #a1a1a1;
}

#footer .inner_footer ul li{
    margin-top: 4px;
}

#footer .footer_right{
    text-align: right;
}

#footer .footer_right li:nth-child(1) a{
    margin-left: 10px;
}

button{
    border: none;
    font-weight: bold;
    position: fixed;
    color: #be1622;
    right: 100px;
    bottom: 50px;
    background: none;
    /* padding: 30px 25px; */
    /* border-radius: 50%; */
    cursor: pointer;
}